<canvas id="appointments" style="width:100%;max-width:700px"></canvas>
<canvas id="loadChart" style="width:100%;max-width:700px"></canvas>
<canvas id="scatterChart" style="width:100%;max-width:700px"></canvas>
<canvas id="lineChart" style="width:100%;max-width:600px"></canvas>
<canvas id="multilineChart" style="width:100%;max-width:600px"></canvas>
<canvas id="linearChart" style="width:100%;max-width:600px"></canvas>
<canvas id="sinChart" style="width:100%;max-width:600px"></canvas>
<canvas id="barChart" style="width:100%;max-width:600px"></canvas>
<canvas id="pieChart" style="width:100%;max-width:600px"></canvas>
<canvas id="donutChart" style="width:100%;max-width:600px"></canvas>