
<div id="load" style="width:100%;max-width:700px"></div>
<div id="scatter" style="width:100%;max-width:700px"></div>
<div id="line" style="width:100%;max-width:700px"></div>
<div id="linear" style="width:100%;max-width:700px"></div>
<div id="multiplelines" style="width:100%;max-width:700px"></div>
<div id="bars" style="width:100%;max-width:700px"></div>
<div id="hbars" style="width:100%;max-width:700px"></div>
<div id="pie" style="width:100%;max-width:700px"></div>
<div id="donut" style="width:100%;max-width:700px"></div>
<div id="sin" style="width:100%;max-width:700px"></div>
<div id="cosin" style="width:100%;max-width:700px"></div>
